@import '~office-ui-fabric-react/dist/sass/References.scss';

.personalDashboard {
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  /* My Dashboard */
  .dashboardContainer {
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    // padding-left: 18px;
    // padding-bottom: 18px;

    .item {
      position: relative;
      margin: 5px;

      .header {
        background-color: #FFF;
        margin: 10px 0 10px 0;
        font-size: 20px;
        font-weight: bold;
        color: "[theme:themeDarker, default:#515D63]";
        width: 100%;

        i {
          padding-right: 5px;
          position: relative;
          top: 3px;
        }
      }

      .content {
        border: 2px solid #EEE;
        width: 330px;
        height: 330px;
        overflow-y: auto;
      }

      .contentWithoutFooter {
        border: 2px solid #EEE;
        width: 330px;
        height: 360px;
        overflow-y: auto;
      }

      .footer {
        position: static;
        display: table;
        bottom: 0px;
        width: 99%;
        height: 30px;
        border-width: 0 2px 2px 2px;
        border-style: none solid solid solid;
        border-color: transparent #EEE #EEE #EEE;

        .text {
          display: table-cell;
          font-size: 12px;
          font-weight: bold;
          color: "[theme:themeDarker, default:#515D63]";
          width: 50%;
          padding-top: 5px;
          position: relative;
          top: 50%;
          text-align: center;
          text-decoration: none;

          &:first-child {
            border-right: 1px solid #EEE;
          }

        }
      }
    }
  }

  .personalizeContainer {
    padding: 20px;

    .customLink {
      float: right;
      color: "[theme:themeDarker, default:#000]";
      text-decoration: none;
      font-size: 12px;
      cursor: pointer;

      i {
        padding-right: 5px;
        position: relative;
      }
    }
  }
}